/*Awareness */
.hero-title {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.card-header-icon {
    font-size: 1.5rem;
}

/*Awareness */

.main-content-container {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}